<htmL>
<head><title>Datetime directive</title><meta charset="utf-8"/></head>
<script src="angular.min.js"></script>
<script src="explicitdates.js"></script>
<script src="moment.js"></script>
    <body ng-app="timelord">
        <div ng-controller="timeController as timeCtrl">
            
            <h3>Birthday</h3>
            Normal text input <br>
            <input type="text" ng-model="timeCtrl.bday">
            {{timeCtrl.bday}} <br>
            Special datetime input <br>
            <dtinput source="timeCtrl.bday" format="YYYY-MM-DD" placeholder="I'm so happy!"></dtinput><br>
            <date source="timeCtrl.bday" format="MMMM D YYYY"></date><br>
            <date source="timeCtrl.bday" format="D MMM YYYY"></date><br>
            <time source="timeCtrl.bday" format="MMM D YY"></time>
                
            <h3>Anniversary</h3>
            <dtinput source="timeCtrl.anniv"></dtinput><br>
            <date source="timeCtrl.anniv"></date><br>

        </div>
    </body>
</htmL>